<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="padding-top:-370px;">
  <div class="container">
    <div class="navbar-header"> 
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    		<span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
    	</button>
    	<a class="navbar-brand" id="t"><% if current_user %>
  <form action='/sessions' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Log Out' class="btn btn-link" style="font-size:18px;">
  </form>
<% end %></a>
    </div>
    <div class="navbar-collapse collapse">
    	<ul class="nav navbar-nav navbar-right">
    		<li class="active"><a href="/users/<%=current_user.id%>">Edit Profile</a></li>
    	</ul>
    </div>
  </div>
</div>
<hr>
<div class="container">
<hr>
<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome, <%=current_user.first_name%> <%= current_user.last_name %></h3>
            </div>
        </div>
<hr>
<div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Here are some of the events in your state:</h3>
            </div>
        </div>
<div class="table-responsive">
	<table class="table class table-bordered table-striped table-hovered table-hover">
		<thead>
			<tr class="info">
				<th>Name</th>
				<th>Date</th>
				<th>Location</th>
				<th>State</th>
				<th>Host</th>
				<th>Action/Status</th>
			</tr>
		</thead>
		<tbody>
		<% @events.each do |e| %>
			<% if e.state == current_user.state %>
				<td>
				
				<a href="/events/<%=e.id %>"><%=e.name %></td>

				<td><%=e.timing.strftime("%m/%d/%Y")%></td>
				<td><%=e.location%></td>
				<td><%= e.state %></td>
				<td><%=e.user.first_name%></td>
				<% if  e.user.id == current_user.id   %>
				<td><a href="/events/<%=e.id%>/edit" class="btn btn-success pull-left">Edit</a><form action="/events/<%=e.id%>" method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input type="submit" value="Delete" class="btn btn-danger ">
				</form></td>
				<% else 
					@x=false 
					@joins.each  do |j| %>
						<% if j.event_id == e.id %>
							<%@x=true%>
						<% end %>
					<% end %>
					<% if @x %>
				<td>
				Joined |  <form action="/joins/<%=e.id%>" method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input type="submit" value="Cancel" class="btn btn-danger">
				</form></td>

					<% else %>
						<td>
						<form action="/joins/<%=e.id%>" method="post">
						<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
						<input type="hidden" name="id" value="<%=e.id%>">
						<input type="submit" value="Join" class="btn btn-success">
						</form>
						</td>
					<% end %>
				<% end %>
			  </tr>
		<% end %>
	<% end %>
		</tbody>
	</table>
</div>
	<hr>
	<div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Here are some of the events in other states:</h3>
            </div>
        </div>
	<div class="table-responsive">
	<table class="table class table-bordered table-striped table-hovered table-hover">
		<thead>

			<tr class="info">
				<th>Name</th>
				<th>Date</th>
				<th>Location</th>
				<th>State</th>
				<th>Host</th>
				<th>Action/Status</th>
			</tr>
		</thead>
		<tbody>
<% @events.each do |e| %>
			<tr class="active">
			<% if e.state != current_user.state %>
				<td><a href="/events/<%=e.id %>"><%=e.name %></td>
				<td><%=e.timing.strftime("%m/%d/%Y")%></td>
				<td><%=e.location%></td>
				<td><%= e.state %></td>
				<td><%=e.user.first_name%></td>
			<% if e.user.id == current_user.id %>
				<td><a href="/events/<%=e.id%>/edit">Edit</a> | <form action="/events/<%=e.id%>" method="post" class="btn btn-success">
					<input type="hidden" name="_method" value="delete">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input type="submit" value="Delete" class="btn btn-danger">
				</form></td>
				<% else 
					@y=false 
					@joins.each  do |j| %>
						<% if j.event_id == e.id %>
							<%@y=true%>
						<% end %>
					<% end %>
					<% if @y %>
				<td>Joined | <form action="/joins/<%=e.id%>" method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input type="submit" value="Cancel" class="btn btn-danger">
				</form></td>
					<% else%>
						<td>
						<form action="/joins/<%=e.id%>" method="post">
						<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
						<input type="submit" value="Join" class="btn btn-primary">
						</form>
						</td>
					<% end %>
				<% end %>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
</div>
	<hr>
<h4>Add Event:</h4>
<% if flash[:error1] -%>
  <p class='error'><%=h flash[:error1] %></p>
<% end %>
	<form action="/events" method="post" class="form-control" style="width:400px;height:320px">
		<input type="hidden" name="id" value="<%=current_user.id%>">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		Name:<input type="text" name="name" class="form-control">
		<br>
		Date:<input type="date" name="timing" class="form-control">
		<br>
		Location:<input type="text" name="location" class="form-control" placeholder="Your city..">
		<br>
		<select name="state" id="" class="form-control">
			<option value="<%=current_user.state%>"><%=current_user.state%></option>
			<% if current_user.state == "CA" %>
			<option value="WA">WA</option>
			<option value="AZ">AZ</option>
			<% elsif current_user.state == "WA"%>
			<option value="CA">CA</option>
			<option value="AZ">AZ</option>
			<% elsif current_user.state == "AZ" %>
			<option value="WA">WA</option>
			<option value="CA">CA</option>
			<% end %>
		</select>
		<br>
		<input type="submit" value="Add Event" class="btn btn-success">
	</form>
</body>
</div>
</html>